{% extends "base.html" %}
{% block content %}

    <div class="row" style="border-bottom: solid;">
    	<div class="col-md-7">
    		<h2 class="text-primary">Ytadpole</h2>
   			<p><span class="glyphicon glyphicon-paperclip"> 擅长Android&nbsp;&&&nbsp;Python</span></p>
   		</div>
   		<div class="col-lg-5">
   			<div class="col-md-6">
   				<p></p></br>
   				<p><span class="glyphicon glyphicon-envelope"></span> 819375546@qq.com</p>
   				<p><span class="glyphicon glyphicon-phone"></span> 18280434057</p>
   				<p><span class="glyphicon glyphicon-home"> 成都信息工程大学</span></p>
   			</div>
   			<div class="col-md-6">
   				<img class="img img-responsive img-thumbnail img-rounded" style="width: 200px;" 
    			src="../static/images/me2.jpg"/>
   			</div>
    		
    	</div>
   	</div>
   	<div class="row" style="margin-top: 30px;">
   		<div class="col-md-6">
   			<div class="panel panel-default">
   				<div class="panel-heading">个人介绍</div>
   				<div class="panel-body">
   					<p>Lorem ipsum dolor sit amet, consectetur 
   					adipisicing elit. Necessitatibus asperiores eum 
   					consequatur hic rem earum repudiandae dicta! Est 
   					officiis similique fugiat quod quibusdam rerum 
   					ipsum eos soluta tempore cupiditate! Accusantium?</p></div>
   			</div>
   			<div class="panel panel-default">
   				<div class="panel-heading">个人技能</div>
   				<div class="panel-body">
   					<p>
   						Html/Css/JavaScript
   						<div class="progress">
   							<div class="progress-bar progress-bar-success" style="width: 40%;"></div>
   						</div>
   						Python
   						<div class="progress">
   							<div class="progress-bar progress-bar-info" style="width: 60%;"></div>
   						</div>
   						Android
   						<div class="progress">
   							<div class="progress-bar progress-bar-warning" style="width: 80%;"></div>
   						</div>
   					</p>
   				</div>
   			</div>
   		</div>
   		<div class="col-md-6">
   			<div class="panel panel-default">
   				<div class="panel-heading">教育背景</div>
   				<div class="panel-body">
   					<p >成都信息工程大学 2013年-2017年 
   						<span class="glyphicon glyphicon-bookmark"> 信息安全工程学院 网络工程</span></p>
   				</div>
   			</div>
   			
   			<div class="panel panel-default">
   				<div class="panel-heading">兴趣爱好</div>
   				<div class="panel-body">
   					<p ><span class="glyphicon glyphicon-record"> 编程</span></p>
   					<p ><span class="glyphicon glyphicon-record"> 游泳</span></p>
   					<p ><span class="glyphicon glyphicon-record"> 跑步</span></p>
   					<p ><span class="glyphicon glyphicon-record"> 学习新东西</span></p>
   					
   				</div>
   			</div>
   		</div>
   	</div>
{% endblock %}