{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#   	<link rel="stylesheet" href="../static/css/bootstrap.min.css" />#}
{#   	<script type="text/javascript" src="../static/js/jquery-3.1.0.min.js" ></script>#}
{#   	<script type="text/javascript" src="../static/js/bootstrap.min.js" ></script>#}
{#    <title>Ytadpole的博客</title>#}
{#</head>#}
{#<body>#}
{#	<nav class="navbar navbar-default">#}
{#		<div class="container">#}
{#			<div class="navbar-header">#}
{#				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" #}
{#					data-target="#navbar-collapse" aria-expanded="false">#}
{#					<span class="sr-only">Toogle navigatoin</span>#}
{#					<span class="icon-bar"></span>#}
{#					<span class="icon-bar"></span>#}
{#					<span class="icon-bar"></span>#}
{#				</button>#}
{#				<a class="navbar-brand" href="#">Ytadpole</a>#}
{#			</div>#}
{#			<div class="collapse navbar-collapse" id="navbar-collapse">#}
{#				<ul class="nav navbar-nav">#}
{#					<li class="active"><a href="#">Ytadpole</a></li>#}
{#					<li class="dropdown">#}
{#						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">技术博客<span class="caret"></span></a>#}
{#						<ul class="dropdown-menu">#}
{#							<li><a href="#">Android</a></li>#}
{#							<li><a href="#">Python</a></li>#}
{#							<li><a href="#">Html</a></li>#}
{#						</ul>#}
{#					</li>#}
{#					<li ><a href="#">我的生活</a></li>#}
{#					<li ><a href="#">留言</a></li>#}
{#					<li ><a href="#">关于我</a></li>#}
{#				</ul>#}
{#			</div>#}
{#		</div>#}
{#	</nav>#}
{% extends "base.html" %}
{% block article %}
        {% for blog in blogs %}
        <div class="panel panel-default">
        <div class="panel-body">
	        <h3>
	            <a href="{% url 'blog_get_detail' blog.id %}"><h2>{{ blog.title }}</h2></a>
	        </h3>
	        <p>
	            {{ blog.content|truncatewords:100 }}
	        </p>
	        <div class="info">
	            <span class="category" style="color: #ff9900;">{{ blog.category.name }}</span>
	            	作者：<span class="author text-right" >{{ blog.author }}</span>
	            <span class="created" style="color: #6aa84f">{{ blog.created|date:"Y-m-d H:i" }}</span>
	        </div>
	    </div>
        </div>
		{% endfor %}
{% endblock %}
{#    <div class="container">#}
{#    	<div class="row">#}
{#    	{% for blog in blogs %}#}
{#	        <h3>#}
{#	            <a href="{% url 'blog_get_detail' blog.id %}"><h2>{{ blog.title }}</h2></a>#}
{#	        </h3>#}
{#	        <p>#}
{#	            {{ blog.content|truncatewords:100 }}#}
{#	        </p>#}
{#	        <div class="info">#}
{#	            <span class="category" style="color: #ff9900;">{{ blog.category.name }}</span>#}
{#	            	作者：<span class="author text-right" >{{ blog.author }}</span>#}
{#	            <span class="created" style="color: #6aa84f">{{ blog.created|date:"Y-m-d H:i" }}</span>#}
{#	        </div>#}
{#		{% endfor %}#}
{#		</div>#}
{#    </div>#}
{#</body>#}
{#</html>#}